[Unit]
Description=unifi-exporter
Requires=network.target
After=network.target

[Service]
Restart=on-failure
RestartSec=5s
Type=simple
TimeoutSec=1min
KillMode=process
NotifyAccess=all
ExecStart=/usr/bin/unifi_exporter \
  --config /etc/unifi-exporter/config.yml \
  -v

[Install]
WantedBy=multi-user.target